<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CreateLogFile" value="false" />
		<add key="WriteLogToConsole" value="true" />
		<add key="LogAlsoAlreadyUnblockedFiles" value="false" />
		<add key="FastMode" value="false" />
		<add key="UseRecursiveScan" value="true" />
		<add key="AskIfUnlockDirFromClipboard" value="true" />
	</appSettings>
</configuration>
